Django
djangorestframework
psycopg2-binary
django-cors-headers
django-extensions
django-environ
Pillow
gunicorn
celery
redis
whitenoise
django-debug-toolbar
coverage
pytest
pytest-django
stripe
django-allauth
django-filter
python-dotenv